extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Elmer Gonzalez

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My name is Elmer I'm a graphics designer, creating and innovating is my passion. 
            |with 4 years of designing and 2 years in the field, I'm trying to expand and branch out into new and uncharted territory with programming, specifically 
            |front-end web development. Because in Programming you get the creative freedom of creating apps, websites etc. from scratch and shaping it to your own style and adding you own functionality.
            |Watching your own creation take shape out of every line of code that is written, this is the type of creative freedom innovation I strive for.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Illustrator
          li Typography
          li Photoshop
          li Javascript 
          li Axure
        h6 Contact Info

        //- Add your own contact info
        ul
          li 214-406-1397
          li elmergonzalez712@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        //a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/') GitHub
        //a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  